* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {               /* ? asi se crean las varibles en Css */
  --yellow: #ffd602;
  --red: #d5040a;
  --blue: #036cb6;
}
body{
  height: 100vh;
  overflow: hidden; /* * con esto le decimos que no se salga ningun elemento de nuestra pantalla */
}


.page { 
  position: relative; /* ! Esta es el ancla que le sirve a position:absolute */
  height: 100vh;
  width: 100%;
}


.container { 
  position: absolute;
  z-index: 1;

  display: grid;            /* * Aqui dividimos el layout de nuestra pagina */
  grid-template-columns: 55% 45%; /* se crean 2 columan del 55% y del 45% del with total */
  grid-template-rows: 20% 50% 30%; /* 3 columnas divididas con los valores asignados */
  grid-template-areas: "nav      aside" 
                       "section  aside"
                       "footer   aside";
  height: 100%;
  width: 100%;
}


.navbar { 
  background: lightpink;
  grid-area: nav; /* con esto le decimos que parte del grid-templete-are se le asigna a este bloque */
  display: flex;
}
.navbar__content { 
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 0 80px;

  animation: 2s navbar 0.5s ease-in-out; /* ! 2s de delay, nombre de la animacion, duracion, aceleracion */
}
@keyframes navbar {
  0%{ 
    transform: translateY(-200px); /* ? comenzara desde arriba a -200px de donde finalizara */
  }
  100%{ 
    transform: translateY((0px));
  }
}
.navbar__content img { 
  width: 50px;
}
.navbar__content ul { 
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 450px;
}
.navbar__content ul li a{ 
  text-decoration: none;
  color: var(--red);
  font-weight: 100;
}
.navbar__content ul li a:hover { 
  text-decoration: underline;
  color: var(--yellow);
}


.main-content { 
  display: flex;
  grid-area: section;
  flex-direction: column; /* ! con esto le cambiamos la direccion a los ejes a display:flex */
  justify-content: center;
  margin-left: 30px;
 
  animation: 2s main-content ; /* * asi hacemos la animacion de que baje el texto */
}
.main-content p:first-child { 
  margin: 0 0 -16px 44px; /* ? asi dejamos mas cerca el primer parrafo con el h1 */
  font-size: 36px;
  font-weight: 300;
}
.main-content h1 { 
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 28px 0;
}
.main-content p:last-child { 
  font-weight: 100;
  width: 60%;
}
@keyframes main-content {
  0%{ 
    transform: translateY(-500px); /* ? comenzara desde arriba a -200px de donde finalizara */
  }
  100%{ 
    transform: translateY((0px));
  }
}

.Loader {
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* ! Recuerda que el absolute esta anclado al relative*/;
  z-index: 3;
  animation: loader 0.2s forwards; /* TODO: Cambiar a 2 segundos cuando terminemos de maquetar!!! */
}
@keyframes loader { /* keyframes van ligados al nombre del animation de arriba */
  0% { 
    opacity: 1;
    visibility: visible; /* * Esto hace visible el loader */
  }
  90% { 
    opacity: 1 ;
    visibility: visible;
  }
  100% { 
    opacity: 0;
    visibility: hidden; /* * Esto esconde el loader y nos deja dar click en la capa que se encuentra abajo */
  }
}  
.Loader div { /* ? Aqui creamos las 3 "bolitas" quea parecen cuando la pagina carga*/
  background: rgb(70, 62, 63);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;

  transform: scale(0); /* ! Este es el que hace que las bolitas sean mas grandes o mas pequeñas */

  animation: scaling 1.5s ease-in-out infinite; /* ? infinitive es para que cuando termine la animacion se vuelva a repetir */
}
.Loader div:nth-child(1) { /* * Esto hace que la animcion afecte a las bolitas una tras otra no a las 3 al mismo tiempo. */
  animation-delay: 0.1s;
}
.Loader div:nth-child(2) { 
  animation-delay: 0.2s;
}
.Loader div:nth-child(3) { 
  animation-delay: 0.3s;
}
@keyframes scaling {
  0%, 100% {    /* esto indica que tanto el 0% como al 100% del tiempo se repita esta accion. */
    transform: scale(0.2);
  }
  40% { 
    transform: scale(1);
  }
  50% { 
    transform: scale(1);
  }
}


